@media screen and (max-width: 1200px) {
  .btn_programmer {
    width: 120px;
    left: 15px;
  }
  .btn_python {
    width: 55px;
    left: 140px;
  }
  .btn_skillbox {
    width: 55px;
    left: 200px;
  }
}
@media screen and (max-width: 900px) {
  .cards_blox {
    grid-template-columns: 1fr;
    grid-template-rows: 203px 203px 203px 203px 203px 203px;
  }
  .schools {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .school_hidden {
    display: none;
  }
  .hamburger {
    display: block;
    padding: 20px;
  }
  #checkbox_toggle:checked ~ .hamburger .hamburger-line {
    background-color: transparent;
  }
  #checkbox_toggle:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  .menu {
    display: none;
  }
  #checkbox_toggle:checked ~ .menu {
    display: block;
    height: 300px;
    width: 200px;
    transition: all 0.5s;
    position: absolute;
    right: 0px;
    top: 85px;
    background-color: #ffffff;
  }
  .nav_hidden {
    color: #000;
    font-size: 25px;
  }
  .menu div {
    margin: 50px 10px;
  }
  .courses_blox {
    max-width: 500px;
    width: 100%;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    display: flex;
    flex-wrap: nowrap;
  }
  .courses-item {
    height: 90%;
    width: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
  .blog_grid {
    max-width: 400px;
    width: 100%;
    height: 426px;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    display: flex;
    flex-wrap: nowrap;
  }
  .blog_grids {
    height: 85%;
    width: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
}
@media screen and (max-width: 700px) {
  footer div {
    display: block;
  }
  .socials {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
  }
  .footer_icon a {
    margin-top: 20px;
  }
  .email_img {
    bottom: 0;
    width: 100%;
  }
  .card_pad h3 {
    line-height: 35px;
    text-align: center;
  }
  .cards_blox {
    grid-template-rows: 290px 290px 290px 290px 290px 290px;
  }
  .card_img_inner {
    position: absolute;
    left: 30px;
    top: 100px;
  }
}
@media screen and (max-width: 580px) {
  .news {
    margin-left: 20px;
  }
  .email_title {
    margin-left: 20px;
  }
  #e_mail {
    width: 200px;
    height: 50px;
    margin-left: 20px;
  }
  .subscribe {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .input_e {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0px 25px;
  }
  .header_text h1 {
    font-size: 45px;
    width: 100%;
  }
  .header_text p {
    width: 100%;
  }
  .header_btn {
    width: 100%;
  }
  .nav {
    gap: 0px;
  }
  .header_study {
    display: none;
  }
  .header_study_900 {
    display: block;
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: -2;
  }
  .email_title {
    width: 300px;
  }
}

/*# sourceMappingURL=media.css.map */
